<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="/images/favicon (1).png" />
    <link rel="icon" href="/images/favicon (1).png" type="image/gif" />
    <link rel="stylesheet" href="/stylesheets/style.css">
<title>Document</title>
</head>
<body>
    <p class="main-title"><%= title %></p>
    <a href="/userpage" class="btn">トップへもどる</a>
    <form action="/boards/<%= board.id %>" method="post" class="board-form">
        <input type="text" name="message" class="input" required>
        <button type="submit" class="submit">投稿</button>
    </form>
    <% if (postsList.length) { %>
    <div class="white-bg">
        <ul class="main-list">
            <% postsList.forEach(function(postsItem) { %>
                <li class="main-list__item">
                    <div class="message">
                        <p class="message__title"><%= postsItem.message %></p>
                        <p class="message__date"><%= postsItem.created_at %></p>
                    </div>
                </li>
            <% }); %>
        </ul>
    </div>
<% } %>

</body>
</html>