<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="shortcut icon" href="/images/favicon (1).png" />
  <link rel="icon" href="/images/favicon (1).png" type="image/gif" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>イベント詳細</title>
</head>
<body>
  <header class="page-header">
    <div class="header">
      イベント詳細
    </div>
  </header>
  <a href="/event">←</a>
</body>
</html>