<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="shortcut icon" href="/images/favicon (1).png" />
  <link rel="icon" href="/images/favicon (1).png" type="image/gif" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <form action="/index" method="post" class="board-form">
      投稿: <input type="text" name="message" class="input" required><br>
      <br>
      <button type="submit" class="submit">投稿</button>
    </form>
  </div>
</ul>
</body>
</html>