<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン</title>
</head>
<body>
  <form action="/login" method="POST">
    <p>メールアドレス：<input type="text" name="mail"></p>
    <p>パスワード：<input type="text" name="pass"></p>
    <input type="submit" value="ログイン">
  </form>
</body>
</html>