<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="shortcut icon" href="/images/favicon (1).png" />
  <link rel="icon" href="/images/favicon (1).png" type="image/gif" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>トップページ</title>
</head>
  <body class="toppage">
    <!-- <main>
      <img src="/images/logo.png" alt="" class="top-icon">
    </main> -->

    <nav class="top-nav">
      <li>
          <a href="/register">新規登録</a>
      <a href="/login">ログイン</a>
      </li>
    </nav>
  </body>
</html>